body{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

table{
    display: block;
    width: 75%;
}

form{
  padding: 10px;
  border: 1px solid black;
}

label{
  font-weight: bold;
}

h1, h2, label, input, select{
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table_container{
  margin: auto;
  display: flex;
  
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.tables{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 2ex;
    color: black;
    width: 90%;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
}

#tables{
    visibility: hidden;
    color: black;
}

.test{
  color: blue;
}

table{
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  width: auto;
  margin: 2ex;
  margin-left: 2ex;
  padding: 1.5ex;
  background-color: black;
}

td{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 10%;
    padding: 0.5ex;
}

th{
  color: white;
}

.rank{
  width: 2em;
}

.name{
  width: 15em;
}

.time{
  width: 7em;
}

.date{
  width: 15em;
}

.venue{
  width: 15em;
}

.gold{
  color:goldenrod;
}

.silver{
  color:slategray;
}

.bronze{
  color: sienna;
}

#tables>th,#tables>td{
  width: 70%;
  border-radius: 5px;
}

input, label {
  display:block;
}

.insert{
float:left;
margin-right: 20px;
}

.delete{
  display: inline-block;
  }

.modify{
display: inline-block;
}

.banner{
    background-color: black;    
    position: relative;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:15%;
  }

#landing{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

#home_links{
  text-align: center;
}

#home_links > a{
  color:black;
  font-weight: bolder;
  font-size: 1.8ex;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home_links > a:hover{
  color:crimson;
  font-weight: bold;
  text-decoration: none;
}

#terrainDDL{
  margin-left: 5px;
}

#insertRecord{
  display: none;
}

#deleteRecord{
  display: none;
}

#modifyRecord{
  display: none;
}

#modifyForm{
  border: no
}

  .menuBtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .menu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-content a:hover {background-color: #ddd;}
  
  .menu:hover .menu-content {display: block;}

  .menu:ontouchstart .menu-content {display: block;}
  
  .menu:hover .dropbtn {background-color: black;}
